<div style="    width: 1200px;
    height: 730px;
    background: #ffff;
    border: 20px solid #13306f;
   ">
    <div style=" width: 1190px;
    box-sizing: border-box;
    display: -webkit-inline-box;
    justify-content: flex-end;
padding: 10px">
    <div style=" border: 1px ;
    height: 100px;
    width:calc(100% / 3);
    box-sizing: border-box" >
        <img style="padding: 30px " alt="Um pinguim-saltador-da-rocha em pé numa praia." src="./capa_tabela_preco/202108240845/exp.png">
    </div>
    <div style=" border: 1px ;
    height: 100px;
    width:520px;
    box-sizing: border-box">
        </div>
        <div style=" border: 1px solid #000;
    height: 100px;
    width:210px;
    box-sizing: border-box">
            <p style="text-align: center; vertical-align: middle">Tabela de Preços </p>
                <p style="text-align: center; vertical-align: middle"> Nº {nu_tabela}{serie_tabela} - {tp_tabela}</p>
        </div>
    </div>


<div style="width: 1200px;
    height: 380px;">
    <h1 style="text-align: center; vertical-align: middle"><b>
        Período
    </b></h1>
        <h1 style="text-align: center; vertical-align: middle"><b>
            {mes_ini}/{ano_ini} á {mes_fim}/{ano_fim}
    </b></h1>
    </div>




<div style="background-color:#ffff;
  padding: 10px;
 width: 1190px;
    box-sizing: border-box;
    display: -webkit-inline-box;
    justify-content: flex-end;
    padding: 10px;
">
    <div style=" border: 1px ;
    height: 190px;
    width:255px;
    box-sizing: border-box"></div>
    <div style=" border: 1px solid #000;
    height: 190px;
    width:690px;
    box-sizing: border-box">
        <p style="text-align: center; vertical-align: middle">Razão Social: {nome}</p>
        <p style="text-align: center; vertical-align: middle">Endereço: {rua} - {bairro} - CEP: {cep} - {cidade}/{estado}</p>
        <p style="text-align: center; vertical-align: middle">CNPJ: {cnpj} / Insc. Estadual: {insc_est}</p>
        <p style="text-align: center; vertical-align: middle">Fone: {fone} - {whatsapp}</p>
        <p style="text-align: center; vertical-align: middle"><b>E-mail: {email}</b></p>
    </div>
    <div style=" border: 1px ;
    height: 190px;
    width:235px;
    box-sizing: border-box"></div>
</div>
    </div>



