<html>

<div>

     <div style=" width: 1190px;
    box-sizing: border-box;
    display: -webkit-inline-box;
    justify-content: flex-end;
">
    <div style=" border: 1px ;
    height: 100px;
    width:calc(100% / 3);
    box-sizing: border-box" >
       <img style="padding: 10px;" alt="Um pinguim-saltador-da-rocha em pé numa praia." src="../exp.png">
    </div>
    <div style=" border: 1px ;
    height: 100px;
    width:520px;
    box-sizing: border-box">
        </div>
        <div style=" border: 1px;
    height: 100px;
    width:210px;
    box-sizing: border-box">
        </div>
    </div>


<!--    Inicia a Tabela-->

        <div style=" width: 1190px;
    box-sizing: border-box;
    display: -webkit-inline-box;
    justify-content: flex-end;
padding: 10px">
    <div style=" border: 1px;
    height: 100px;
    width:calc(100% / 3);
    box-sizing: border-box" >
        <table border="1">
              <colgroup>
                  <col style="width:50px">
    <col style="width:250px">
    <col style="width:250px">
    <col style="width:100px">
    <col style="width:100px">
    <col style="width:100px">
                </colgroup>
            <tr bgcolor="#0070c0" style="color:white"       >
                <th>
                    <b>UF</b>
                </th>
                <th>
                    <b>Cidade</b>
                </th>
                <th>
                    <b>Veiculo</b>
                </th>
                <th>
                    <b>30" Seg</b>
                </th>
                <th>
                    <b>60" Seg</b>
                </th>
                <th>
                    <b>15" Seg</b>
                </th>
            </tr>

        </table>
    </div>
     <div style=" border: 1px;
    height: 100px;
    width:100px;
    box-sizing: border-box" >
    </div>
      <div style=" border: 1px ;
    height: 100px;
    width:calc(100% / 3);
    box-sizing: border-box" >
           <table border="1">
               <colgroup>
                   <col style="width:50px">
    <col style="width:250px">
    <col style="width:250px">
    <col style="width:100px">
    <col style="width:100px">
    <col style="width:100px">
                </colgroup>
            <tr bgcolor="#0070c0" style="color:white">
                <th>
                    <b>UF</b>
                </th>
                <th>
                    <b>Cidade</b>
                </th>
                <th>
                    <b>Veiculo</b>
                </th>
                <th>
                    <b>30" Seg</b>
                </th>
                <th>
                    <b>60" Seg</b>
                </th>
                <th>
                    <b>15" Seg</b>
                </th>
            </tr>
               {dados_tabela}
        </table>
    </div>
    </div>

</div>
</html>